body{
   background-color:   rgb(231, 238, 238);
}
table, th, td {
  border: 1px solid;
  color: rgb(243, 143, 21);
}

table {
  width: 100%;
}
h1{
    color: rgb(118, 114, 109);
    text-align: center;
}
.btn1{
  background-color: white;
  border-color: blue;
  border-radius: 1cm;
  height: 30px;
  width: 100px;
  transition: opacity 1s;
  box-shadow: 5px 5px 5px rgb(3, 12, 16);
}
.btn1:hover{
  background-color:blue ;
  color:white ;
}
.btn1:active{
  background-color: rgb(26, 51, 54);
}
.btn2{
  background-color: white;
  border-color: blue;
  border-radius: 1cm;
  height: 30px;
  width: 100px;
  transition: opacity 1s;
  box-shadow: 5px 5px 5px rgb(3, 12, 16);
}
.btn2:hover{
  background-color:blue ;
  color:white ;
}
.btn2:active{
  background-color: rgb(26, 51, 54);
}



.firstpic{
   
   width: 300px;
   display: block;
   object-fit: cover;


}
.secondpic{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 70px;
}

.firstpara{
    display: inline-block;
    margin-right: 15px;
}

.PT{
    color: white;
    font-weight: bold;
     width: 200px;
display: inline-block;
margin-left: 4px;

}
.seconddiv{
    display: inline-block;

}
.seconpera{
    
    color: rgb(186, 186, 180);
}
.thirdpera{
      color: rgb(186, 186, 180);
}
.fulldiv{
    background-color: black;
    display: inline-block;
}